@inherits LayoutComponentBase
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow ">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="#"><img src="../assets/images/brand/logo/logo-icon.svg" class="mb-4" alt=""></a>
                    </div>
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>