@page "/Index"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject SessionStateProvider provider
<h1>Hello, world!</h1>
@provider.Company
@provider.Locale
@provider.UserId
@provider.Times
Welcome to your new app.

